.border {
  border: 2px solid red;
  background-color: red;
}

body {
  background-color: rgb(47, 47, 94);
  color: #fff;
  font-family: sans-serif;
}

:root {
  --background-color: rgb(47, 47, 94);
  --color: #c9c4c4;
  --sub-color:rgb(28, 28, 56);

}
